:root {
  --background-light: white;
  --background-dark: #141A25;
  --color-dark: #88A4DF;
}

.modal-container {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  padding: 2rem;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  line-height: 2.5rem;
}

.modal-body-light {
  background-color: var(--background-light);
  color: black;
}

.modal-body-dark {
  background-color: var(--background-dark);
  color: var(--color-dark);
}