:root {
  --background-dark: #141A25;
  --background-light: white;
  --color-dark: #88A4DF;
  --color-light: #141A25;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: inherit;
  width: 100vw;
  padding: 10px 50px;
}

.header-transparent {
  background: transparent;
}

.header-light {
  background-color: var(--background-light);
  color: var(--color-white);
}

.header-dark {
  background-color: var(--background-dark);
  color: var(--color-dark);
}

.button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
}