@import "../../styles/variable.css";

:root {
  --light-background: white;
  --dark-background: #141A25;
  --light-color: #3E4E6D;
  --dark-color: #88A4DF;
}

.sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: calc(95vh - var(--slider-container-height));
  min-width: 300px;
}

.sidebar-light {
  background-color: var(--light-background);
  color: var(--light-color);
}

.sidebar-dark {
  background-color: var(--dark-background);
  color: var(--dark-color);
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.active {
  background-color: var(--dark-color);
  color: var(--dark-background);
  border-radius: 5px;
}

.hide {
  display: none;
}