:root {
  --background: transparent;
  --light-color: gray;
  --dark-color: #88A4DF;
  --box-height: 250px;
  --box-width: 250px;
}

.box {
  background: var(--background);
  height: var(--box-height);
  width: var(--box-width);
  padding: 20px;
  font-family: sans-serif;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 90%;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.box-light {
  border: 2px dashed var(--light-color);
  color: var(--light-color);
}

.box-dark {
  border: 2px dashed var(--dark-color);
  color: var(--dark-color);
}

@media (max-width: 720px) {
  :root {
    --box-height: 200px;
    --box-width: 200px;
  }
}

@media (max-width: 480px) {
  :root {
    --box-height: 140px;
    --box-width: 140px;
  }
}