@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url("./images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
}

.text-white {
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 1rem 3rem 1rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}